<form class="Largeheader flexlibrary" name="formDecks" height=40em;>
	<SELECT class="Largeheader" name="selectDeck">
	<OPTION VALUE = "./xml/BigRedMachine.xml" selected >BigRedMachine</OPTION>
	<OPTION VALUE = "./xml/MulchandLoam.xml">Mulch and Loam</OPTION>
	<OPTION VALUE = "./xml/BlackRack.xml">BlackRack</OPTION>
	<OPTION VALUE = "./xml/BlackDread.xml">BlackDread</OPTION>
	<OPTION VALUE = "./xml/BloodBraidElf.xml">BloodbraidElf</OPTION>
	<OPTION VALUE = "./xml/BloodBraidEnchantress.xml">BloodbraidEnchantress</OPTION>
	<OPTION VALUE = "./xml/Brood.xml">Brood</OPTION>
	<OPTION VALUE = "./xml/CharredDiscard.xml">CharredDiscard</OPTION>
	<OPTION VALUE = "./xml/Classic.xml">Classic</OPTION>
	<OPTION VALUE = "./xml/Dimir_Inverter.xml">Dimir Inverter</OPTION>
	<OPTION VALUE = "./xml/FireandIce.xml">FireandIce</OPTION>
	<OPTION VALUE = "./xml/GreenWaste.xml">GreenWaste</OPTION>
	<OPTION VALUE = "./xml/GreenWasteOrder.xml">GreenWaste Order</OPTION>
	<OPTION VALUE = "./xml/GreenWasteTomorrow.xml">GreenWaste Tomorrow</OPTION>
	<OPTION VALUE = "./xml/GreenWasteSakura.xml">GreenWaste Sakura</OPTION>
 	<OPTION VALUE = "./xml/WelderGamble.xml" >Welder Gamble</OPTION>
 	<OPTION VALUE = "./xml/CloudpostWelder.xml" >Cloudpost Welder</OPTION>
	<OPTION VALUE = "./xml/JunkDiver.xml">JunkDiver</OPTION>
	<OPTION VALUE = "./xml/JeskaiPioneer.xml">JeskaiPioneer</OPTION>
	<OPTION VALUE = "./xml/KindofBlue.xml">KindofBlue</OPTION>
	<OPTION VALUE = "./xml/IxalanCannons.xml">Ixalan Cannons</OPTION>
	<OPTION VALUE = "./xml/Ixalan_BlackRedBlue.xml">Ixalan Cannons BRU</OPTION>
	<OPTION VALUE = "./xml/Ixalan_Cannons_RedBlue.xml">Ixalan Cannons Red Blue</OPTION>
	<OPTION VALUE = "./xml/Ixalan_Green_White.xml">Ixalan Green White</OPTION>
	<OPTION VALUE = "./xml/Lumberjack.xml">Lumberjack</OPTION>
	<OPTION VALUE = "./xml/Brothers_War/Limited-BrothersWar.xml">Limited Brother's War - WUR</OPTION>
	<OPTION VALUE = "./xml/Napoleon.xml">Napoleon</OPTION>
	<OPTION VALUE = "./xml/Nishoba.xml">Nishoba</OPTION>
	<OPTION VALUE = "./xml/Outpost.xml">Outpost</OPTION>
	<OPTION VALUE = "./xml/PatriotBlock.xml">PatriotBlock</OPTION>
    <OPTION VALUE = "./xml/Patriot.xml">Patriot</OPTION>
	<OPTION VALUE = "./xml/Pernicious.xml">Pernicious</OPTION>
	<OPTION VALUE = "./xml/Plum.xml">Plum</OPTION>
	<OPTION VALUE = "./xml/PlumGoneBlock.xml">PlumGoneBlock</OPTION>
	<OPTION VALUE = "./xml/RayneForest.xml">RayneForest</OPTION>
	<OPTION VALUE = "./xml/RedPatrol.xml">RedPatrol</OPTION>
	<OPTION VALUE = "./xml/Rith.xml">Rith</OPTION>
	<OPTION VALUE = "./xml/Stasis.xml">Stasis</OPTION>
	<OPTION VALUE = "./xml/TronTate.xml">Tron Tate</OPTION>
	<OPTION VALUE = "./xml/Welder.xml">Welder</OPTION>
	<OPTION VALUE = "./xml/ZombieRenewal.xml">ZombieRenewal</OPTION>
	<OPTION VALUE = "./xml/affinity.xml">Affinity</OPTION>
	<OPTION VALUE = "./xml/hightide.xml">HighTide</OPTION>
	<OPTION VALUE = "./xml/oath.xml">Oath</OPTION>
	<OPTION VALUE = "./xml/trix.xml">Trix</OPTION>
	<OPTION VALUE = "./xml/belcher.xml">Belcher</OPTION>
	<OPTION VALUE = "./xml/counterbalance.xml">CounterBalance</OPTION>
	<OPTION VALUE = "./xml/dredge.xml">Dredge</OPTION>
	<OPTION VALUE = "./xml/goblins.xml">Goblins</OPTION>
	<OPTION VALUE = "./xml/landstill.xml">LandStill</OPTION>
	<OPTION VALUE = "./xml/crimson_vow/Limited-Red.xml">Crimsom Vow Limited Red</OPTION>
	<OPTION VALUE = "./xml/legacy/Elves.xml">Elves</OPTION>
	<OPTION VALUE = "./xml/legacy/Red-Delver.xml">Delver</OPTION>
	<OPTION VALUE = "./xml/crimson_vow/Limited-RedGreen.xml">Crimsom Vow Limited Red Green</OPTION>
	<OPTION VALUE = "./xml/crimson_vow/Limited-GreenBlack.xml">Crimsom Vow Limited Green Black</OPTION>
	<OPTION VALUE = "./xml/crimson_vow/Limited-WhiteSplash.xml">Crimsom Vow Limited White Splash</OPTION>
	<OPTION VALUE = "./xml/crimson_vow/Limited-GreenBlue.xml">Crimsom Vow Limited Green Blue</OPTION>
	<OPTION VALUE = "./xml/crimson_vow/Limited-GreenWhite.xml">Crimsom Vow Limited Green White</OPTION>
	</SELECT>
</form>
