<nav>
  <ul class="nav-list">
    <li class="nav-item selected"><a class="nav-link" href="/decks">Main</a></li>
    <li class="nav-item"><a class="nav-link" href="/alldecks">All Decks</a></li>
    <li class="nav-item"><a class="nav-link" href="/handsimulation">Hand Simulation</a></li>
    <li class="nav-item"><a class="nav-link" href="/playhand">Play Hand</a></li>
  </ul>
</nav>
