<nav>
  <ul>
    <li id="selected"><a href="/decks">Main</a></li>
    <li ><a href="/alldecks">All Decks</a></li>
    <li ><a href="/handsimulation">Hand Simulation</a></li>
    <li ><a href="/playhand">Play Hand</a></li>
  </ul>
</nav>
