<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<style type="text/css">
</style>
<link rel="stylesheet" href="/assets/decks.css">
<title>Deck Comparison</title>
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="manifest" href="/assets/site.webmanifest">
<script type="module">
import { startCompareDecks } from "./scripts/alldecks.mjs";
window.onload = () => {
	startCompareDecks();
};
</script>
</head>
<body onload="startCompareDecks()">
<div id="header">
    <%- include('partials/nav'); -%>
</div>

<div class="middle">
	<table border="1" id="tblDeckList">
		<tr>
			<th colspan="9" class="style1 style1">All Decks</th>
		</tr>
		<tr style="font-size:24px">
			<td>Deck Name</td>
			<td>Cards</td>
			<td>Total Cost</td>
			<td>Lands</td>
			<td>Creatures</td>
			<td>Instants</td>
			<td>Sorceries</td>
			<td>Enchantments</td>
			<td>Artifacts</td>
		</tr>
	</table>
</div>

	</body>
</html>
