<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Build Deck</title>
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="manifest" href="/assets/site.webmanifest">
<script type="module">
  import { loadEventListeners } from "./scripts/createDeckFormEventListeners.mjs";

  loadEventListeners(); // This will execute the event listeners when the document loads
</script>
<link rel="stylesheet" href="/assets/decks.css">
</head>
<body>
    <header>
      <%- include('partials/nav'); -%>
  </header>
  <main>
    <form method="POST" action="/create-deck" enctype="multipart/form-data">
      <fieldset>
        <legend>Upload XML File (for loading content):</legend>
        <label for="xmlFile">Choose an XML file:</label>
        <input type="file" name="XMLFile" accept=".xml" id="xmlFile">
      </fieldset>
      
      <label for="deckName">Deck Name:</label>
      <input type="text" name="deckName" required>
      
      <!-- Action Buttons Section -->
      <div id="actionButtons">
        <button type="button" id="addCardButton">Add Card</button>
        <button type="button" id="downloadDeckButton">Download Deck</button>
        <button type="submit">Publish Deck</button>
      </div>
    </form>
    <div>
      <input type="text" name="lookupCardName" id="lookupCardName" placeholder="Enter Card Name">
      <input type="text" name="cardNameInput" id="cardNameInput" placeholder="Selected Card">
    </div>

    <div id="suggestionsContainer">
      <h3>Card Suggestions</h3>
      <!-- Suggestions will be displayed here -->
    </div>
    <div id="left-sidebar">
      <div id="left-sidebar-hover-image"></div>
    </div>
    <div id="cardInputsContainer">
    </div>
    <div id="middle-content">
      <div id="middle-content-hover-image"></div>
    </div>
    <div id="right-sidebar">
      <div id="right-sidebar-hover-image"></div>
    </div>
  </main>
  <footer>
      <!-- Your footer content -->
  </footer>
</body>
</html>