<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Deck Evaluation</title>
<script type="text/javascript" src="scripts/deckcomparison.js"></script>
</head>
<body onload="start()">
<p>hello!</p>
</body>
</html>
