<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Hand Simulation</title>
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="manifest" href="/assets/site.webmanifest">
<script type="module">
	import { startMulliganCheck, startHandDraw } from "./scripts/handsimulation.mjs";
   	window.onload = () => {
		startMulliganCheck();
	};
    // Wait for the DOM to be fully loaded
    document.addEventListener("DOMContentLoaded", () => {
      const listHandDraw = document.getElementById("listHandDraw");
      listHandDraw.addEventListener("click", () => {
        //startSimulateHandDraw();
		startHandDraw();
      });
    });
  </script>
<link rel="stylesheet" href="/assets/handsimulation-whitequeen.css">
</head>
<div id="header">
    <%- include('partials/nav'); -%>
</div>
<body onload="startMulliganCheck()">
<div id="container">
	<div id="left-sidebar">
		<section id="deck" class="decklist">
			<%- include('partials/decklist'); -%>
			<button type="button" class="button" id="listHandDraw">Draw Hand</button>
		</section>
		<section id="section_mulliganstats">
			<table border="1" id="tblMulliganStats">
				<tr><th colspan="2">Mulligan Stats (based on 60 cards)</th></tr>
				<tr><td>Lands</td><td>Mulligan Percentage</td></tr>
				<tr id="19"><td>19</td>
				<td class="Nineteen" id="Nineteen"></td></tr>
				<tr id="20"><td>20</td><td class="Twenty" id="Twenty"></td></tr>
				<tr id="21"><td>21</td><td class="TwentyOne" id="TwentyOne"></td></tr>
				<tr id="22"><td>22</td><td class="TwentyTwo" id="TwentyTwo"></td></tr>
				<tr id="23"><td>23</td><td class="TwentyThree" id="TwentyThree"></td></tr>
				<tr id="24"><td>24</td><td class="TwentyFour" id="TwentyFour"></td></tr>
				<tr id="25"><td>25</td><td class="TwentyFive" id="TwentyFive"></td></tr>
				<tr id="26"><td>26</td><td class="TwentySix" id="TwentySix"></td></tr>
				<tr id="27"><td>27</td><td class="TwentySeven" id="TwentySeven"></td></tr>
				<tr id="28"><td>28</td><td class="TwentyEight" id="TwentyEight"></td></tr>
			</table>
			<div class="info-container">
				<div class="info-item">
					<label for="totalLandsInDeck">Lands in Deck:</label>
					<span id="totalLandsInDeck">[Value]</span>
				</div>
			
				<div class="info-item">
					<label for="currentMulliganRate">Expected Mulligan rate (60 cards):</label>
					<span id="currentMulliganRate">[Value]</span>
				</div>
			
				<div class="info-item">
					<label for="TotalHandsDrawn">Hands:</label>
					<span id="TotalHandsDrawn">[Value]</span>
				</div>
			
				<div class="info-item">
					<label for="TotalMulligans">Mulligans:</label>
					<span id="TotalMulligans">[Value]</span>
				</div>
			
				<div class="info-item">
					<label for="MulliganPercentage">Current Mulligan Percentage:</label>
					<span id="MulliganPercentage">[Value]</span>
				</div>
			</div>	
			
		</section>
	</div>
    <div id="middle-content">
		<section id="section_hand">
		</section>
	</div>
	<div id="right-sidebar">
		<div id="right-sidebar-hover-image"></div>
    </div>
</div>
</body>
</html>
