<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<style type="text/css">
</style>
<title>Hand Simulation</title>
<script type="module">
    import { startSimulateHandDraw, startDrawOneCard, startLibrarySearch, startLibraryDrawAll } from "./scripts/playhand.mjs";

    // Wait for the DOM to be fully loaded
    document.addEventListener("DOMContentLoaded", () => {
      const DrawHandButton = document.getElementById("DrawHandButton");
      DrawHandButton.addEventListener("click", () => {
        startSimulateHandDraw();
      });
    });
    document.addEventListener("DOMContentLoaded", () => {
        const DrawACard = document.getElementById("DrawACard");
        DrawACard.addEventListener("click", () => {
            startDrawOneCard();
    });
    });
    document.addEventListener("DOMContentLoaded", () => {
        const DrawSpellButton = document.getElementById("DrawSpellButton");
        DrawSpellButton.addEventListener("click", () => {
            startLibrarySearch('Spell');
    });
    });
    document.addEventListener("DOMContentLoaded", () => {
        const DrawSpellButton = document.getElementById("DrawSpellButton");
        DrawSpellButton.addEventListener("click", () => {
            startLibrarySearch('Creature');
    });
    });
    document.addEventListener("DOMContentLoaded", () => {
        const DrawLandButton = document.getElementById("DrawLandButton");
        DrawLandButton.addEventListener("click", () => {
            startLibrarySearch('Land');
    });
    });
    document.addEventListener("DOMContentLoaded", () => {
        const DrawLibrary = document.getElementById("DrawLibrary");
        DrawLibrary.addEventListener("click", () => {
            startLibraryDrawAll();
    });
    });
</script>
<link rel="stylesheet" href="/assets/decks.css">
</head>
<div id="header">
    <%- include('partials/nav'); -%>
</div>
<body>
<div id="container">
<section id="deck" class="flexlibrary">
    <%- include('partials/decklist'); -%>
	    <button  id="DrawACard"  type="button" class="btn" >
            <img src="/assets/MagicImages/Magic_the_gathering-card_back.jpg" alt="Draw" style="display:block;width:50px;border:0">
            Draw
        </button>
        <button id="DrawHandButton" type="button" value="Draw Hand" class="btn">
            <img src="/assets/MagicImages/Magic_the_gathering-card_back.jpg" alt="Draw" style="display:block;width:50px;border:0">
            Draw Hand
        </button>
        <button type="button" class="btn" id="DrawSpellButton">
            <img src="/assets/MagicImages/Magic_the_gathering-card_back.jpg" alt="Draw" style="display:block;width:50px;border:0">
            Spells
        </button>
	    <button type="button" class="btn" id="DrawCreatureButton">
            <img src="/assets/MagicImages/Magic_the_gathering-card_back.jpg" alt="Draw" style="display:block;width:50px;border:0">
            Creatures
        </button>
	    <button type="button" class="btn" id="DrawLandButton">
            <img src="/assets/MagicImages/Magic_the_gathering-card_back.jpg" alt="Draw" style="display:block;width:50px;border:0">
            Land
        </button>
	    <button type="button" class="btn" id="DrawLibrary">
            <img src="/assets/MagicImages/Magic_the_gathering-card_back.jpg" alt="Draw" style="display:block;width:50px;border:0">
            Library
        </button>
        <p class="deckSize flexlibrary" id="deckSize"></p>
</section>
    <section class="flexlibrary">
        <section id="section_library" class="flexlibrary">
            <h2>Library</h2>
        </section>
    </section>
    <section id="section_hand">
        <h3>Hand</h3>
        <section id="section_spells" class="flex">
        </section>
        <section id="section_lands" class="flex">
        </section>
    </section>
    <h3>BattleField</h3>
    <section id="section_battlefield" class="flex">
    </section>
    <h3>Graveyard</h3>
        <section id="section_graveyard" class="flex">
    </section>
</div>
</body>
</html>