/* Shared Styles */
.vertical-align-top {
  vertical-align: top;
}

/* Navigation Styles */
.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Use flexbox to create tabs layout */
}

.nav-item {
  flex: 1; /* Distribute available space evenly among tabs */
}

.nav-link {
  display: block;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  color: black;
  background: linear-gradient(45deg, #EAE9E2, #AEABA5); 
  border: 1px solid;
  border-width: 1px 1px 0 1px;
  transition: background-color 0.3s, color 0.3s; /* Add transition effect for smoother hover */
}

.nav-link:hover {
  background-color: #fc0;
  color: black;
}

#container {
  display: flex;
  width: 1920px; /* Set a fixed width for the container */
  height: 1080px; /* Set a fixed height for the container */
  background-image: linear-gradient(to bottom, #f0f0f0, #d3d3d3);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Select Dropdown Styles */
.select-dropdown {
  display: block;
  padding: 6px 4px;
  box-sizing: border-box;
  height: 85px;
}

#section_library {
  width: 9%; /* Adjust the width as needed */
  /*argin-left: left; /* Move to the right by setting margin-left to auto */
  padding: 5px; /* Add padding for spacing */
}

#section_library-content {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: flex-start; /* Start from the left */
  background: linear-gradient(45deg, #EAE9E2, #AEABA5);
  padding: 20px; /* Add padding for spacing */
  gap: 10px; /* Add some spacing between cards */
  /* width: 20%; */ /* You can remove this width to allow the container to adjust to its content */
}

#section_library-content .image-preview {
  width: 70px;
  height: auto;
}

/* Adjust styles for #middle-content */
#middle-content {
  display:block;
  flex-wrap: wrap;
  justify-content: space-between; /* Create space between sections */
  max-width: 100%; /* Ensure it doesn't exceed the screen width */
}

/* Adjust styles for #section_battlefield */

#section_hand {
  padding: 1px;
  box-sizing: border-box;
  width: auto; /* Use 'auto' to fit content width */
  overflow: auto;
  margin-left: auto;
}

.hand-container {
  width: auto; /* Use 'auto' to fit content width */
}

#section_spells,
#section_lands {
  flex: 1;
  padding: 1px;
  box-sizing: border-box;
  max-width: 100%; /* Ensure it doesn't exceed the screen width */
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
}

#section_graveyard {
  background-image:url(/assets/wallpaper/graveyard_wide.jpg);
  background-size: cover;
  padding-bottom: 100px;
}

#section_exile {
  background-image:url(/assets/wallpaper/planeswalker_button.png);
  background-size: cover;
  padding-bottom: 100px;
  }

#section_lands .image-preview {
  width: 50px; /* Set the desired width for graveyard images */
  height: auto; /* Auto height to maintain aspect ratio */
}
#section_spells .image-preview {
  width: 65px; /* Set the desired width for graveyard images */
  height: auto; /* Auto height to maintain aspect ratio */
}
/* Adjust styles for #section_battlefield */
#section_battlefield {
  padding: 20px;
  box-sizing: border-box;
  width: auto; /* Use 'auto' to fit content width */
  max-height: 50vh; /* Set maximum height to 50% of the viewport height */
  overflow: auto;
  margin-left: auto;
}
#section_battlefield-lands .image-preview {
  width: 70px; /* Set the desired width for graveyard images */
  height: auto; /* Auto height to maintain aspect ratio */
}
/* Style the battlefield-container to display sections vertically */
.battlefield-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Add spacing between the sections */
}


/* Adjust styles for #section_battlefield-lands and #section_battlefield-spells */
#section_battlefield-lands,
#section_battlefield-spells {
  flex: 1;
  box-sizing: border-box;
  max-width: 100%; /* Ensure it doesn't exceed the screen width */
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  /* Adjust width as needed based on your design */
}


#left-sidebar {
  width: 25%; /* Adjust the width as needed */
  padding: 10px; /* Add padding for spacing */
}
/* Adjust styles for #right-sidebar */
#right-sidebar {
  width: 15%; /* Adjust the width as needed */
  padding: 10px; /* Add padding for spacing */
  margin-left: auto; /* Push it to the right by setting margin-left to auto */
}


#left-sidebar h3 {
  font-size: 20px; /* Adjust the font size as needed */
  margin-bottom: 10px; /* Add spacing below the heading */
}

#left-sidebar section,
#left-sidebar .flexlibrary,
#left-sidebar #exilePopup {
  flex: 1;
  background: linear-gradient(45deg, #EAE9E2, #AEABA5);
  /* Add styles for the sections and the popup as needed */
}

.exile-graveyard-container {
  display: none;
}
.tab-container {
  display: flex;
  width: 20%;
}

.tab-button {
  cursor: pointer;
  background: linear-gradient(45deg, #EAE9E2, #AEABA5);
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
}


.tab-button.active {
  background-color: #555353;
}

.tab-content .image-preview {
  width: 70px; /* Set the desired width for graveyard images */
  height: auto; /* Auto height to maintain aspect ratio */
  /* Add other styling as needed */
}

.tab-content {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
}

.deckSize {
  display: inline; /* Make the deck size inline */
  font-weight: normal;
  /* margin-left: 10px; /* Add some spacing between "Library" and the deck size */
}

.quantity-input {
    width: 50px; /* Adjust the width to your preference */
}

.rulestext-input {
  width: 450px; /* Adjust the width to your preference */
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Info Box and Card List */
.highlighted-box {
  /* Use this class for both info-box and card-list */
  display: inline-block;
  vertical-align: top;
  border: 0;
  padding: 0 2em;
  background-color: var(--highlight-bg, #e3e2db); /* CSS variable for background color */
}

/* Info Box and Card List */
.sidebar-box {
  /* Use this class for both info-box and card-list */
  display: inline-block;
  vertical-align: top;
  border: 0;
  padding: 0 2em;
  background-color: var(--highlight-bg, #d2d2c9); /* CSS variable for background color */
}
/* Body Styles */
.body-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000000;
  background: linear-gradient(45deg, #EAE9E2, #AEABA5);
  font-size: 80%;
}

/* Button Styles */
.button {
  color: #050;
  font-size: 16px;
  background: linear-gradient(45deg, #EAE9E2, #AEABA5);
  border: 1px solid;
  border-color: #696 #363 #363 #696;
}

/* CSS for the custom dropdown menu */
.custom-dropdown {
  padding: 4px 4px;
  font-size: 16px;
  border: 1px solid #000;
  background: linear-gradient(45deg, #EAE9E2, #AEABA5);
  color: #333;
  /* Add more styling as needed */
}

/* CSS for the medium-sized buttons */
.medium-button {
  color: #050;
  font: bold 88% 'trebuchet ms', helvetica, sans-serif;
  background: linear-gradient(45deg, #EAE9E2, #AEABA5);
  border: 5px solid;
  border-color: #696 #363 #363 #696;
  margin-top: 20px;
}

.button-group {
  width: 20%; /* Adjust the width as needed */
  display: table-cell; /* Use flexbox layout */
  flex-direction: column; /* Arrange content vertically */
  justify-content: flex-start; /* Start from the top */
  align-items: flex-start; /* Align content to the left */
}
.large-button {
  color: #050;
  font: bold 88% 'trebuchet ms', helvetica, sans-serif;
  background: linear-gradient(45deg, #EAE9E2, #AEABA5);
  border: 10px solid;
  border-color: #696 #363 #363 #696;
}

/* Hand, On The Draw, Mulligan */
.white-bg {
  background-color: #FFFFFF;
}

.blue-bg {
  background-color: #99FFFF;
}

.red-bg {
  background-color: #FF0000;
  color: white;
}

/* Image Preview and Scaling Effect */
.image-preview:hover {
  transform: translate(0em, 0em) scale(1.05); /* Adjust the scale value as needed */
  transition: all 0.3s;
  padding: 0;
}


.modal .image-preview {
  width: 350px;
  height: auto;
}
.image-preview {
  width: 100px;
  transform: scale(1); /* Initial state */
  transition: transform 0.3s;
  margin: 1px; /* Add margin between images */
  border-color: #000;
  display: flex;
  flex-wrap: wrap; /* Wrap the images to a new line when needed */
  justify-content: flex-start; /* Align images to the start of the container */
}


.image-large {
  width: 90px;
  transition: transform 0.3s;
  margin: 5px; /* Add margin between images */
  display: flex;
  flex-wrap: wrap; /* Wrap the images to a new line when needed */
  justify-content: flex-start; /* Align images to the start of the container */
}

/* Scaling Effect Styles */
.scaling-effect:hover {
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 auto;
  overflow: hidden;
  transform: scale(1); /* Adjust the scale value back to 1 */
  transition: all 0.3s;
}

/* Flex Layouts */
.flex-layout {
  display: flex;
  flex-direction: row;
}

.flex {
  /* basic styling */
  font: 14px Arial;
  /* flexbox setup */
  display: flex;
  flex-direction: row;
}

/* Flex Container and Item Styles */
.flex-container {
  display: flex;
  flex-direction: row;
}

/* Flex Item Styles */
.flex-item {
  flex: 1 1 auto;
  padding: 4px;
  width: 300px;
  transition: width 0.7s ease-out;
}

/* Flex Item Hover Styles */
.flex-item:hover {
  width: 300px;
}

/* Style for the library popup container */
/* Style for the close button */
#closeLibraryPopup {
  position: absolute;
  top: -1px;
  right: -1px;
  cursor: pointer;
  background: linear-gradient(45deg, #EAE9E2, #AEABA5);
  color: #100f0f;
  border: none;
  border-radius: 80%;
  padding: 3px 3px;
}


/* Style for the library popup container */
#libraryPopup {
  display: none;
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the popup */
  width: auto; /* Allow it to grow as needed */
  min-width: 300px; /* Set a minimum width for the popup */
  padding: 30px;
  padding-bottom: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it's on top of other content */
    flex-direction: row; /* Horizontal layout */
  flex-wrap: wrap; /* Prevent wrapping to the next row */
  justify-content: flex-start; /* Start from the left */
  align-items: center; /* Center vertically */
  /* Adjust the background image position */
  background-image: url('/assets/wallpaper/library_phoenixcrop.jpg');
  background-size: cover; /* Cover the entire popup */
  background-position: center bottom; /* Anchor the image to the center at the bottom */
} 

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.popup-content {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}


/* Style for each card item in the library popup */
.card-item {
  /* Add styles for each card item here */
  margin-right: 10px; /* Add spacing between cards */
}

/* Style for the context menu */
.context-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 100;
}
/* Style for context menu options */
.context-menu-option {
  cursor: pointer;
  padding: 5px;
}

.context-menu-option:hover {
  background-color: #a39f9f;
}
/* Hover Menu Styles */
.hover-menu {
  display: none;
  position: absolute;
  background: linear-gradient(45deg, #777776, #646362);
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 100; /* Ensure it's on top of other content */
  cursor: pointer;
  margin-top: 10px; /* Add some spacing between menu and card */
}

/* Hover Menu Option Styles */
.hover-menu-option {
  cursor: pointer;
  padding: 3px;
  font-weight: bold;
  color: #333; /* Text color for options */
  background: linear-gradient(45deg, #7c7c7a, #646362);
  border: 1px solid #3d3d3c;
  margin: 2px; /* Add some spacing between options */
  text-align: center; /* Center-align text within options */
  width:inherit; /* Adjust the width as needed */
  font-size: smaller;
}

/* Hover Menu Option Hover Styles */
.hover-menu-option:hover {
  background-color: #b1b0b0; /* Background color on hover */
  color: #000; /* Text color on hover */
}
