#header ul {
	list-style: none;
	padding:0;
	margin:0;
}
#header li {
	display: inline;
	border: solid;
	border-width: 1px 1px 0 1px;
	margin: 0 0.5em 0 0;
}
#header li a {
	padding: 0 1em;
	text-decoration: none;
	color: black;
	background: #FFFFCC;
}

#content {
	border-top: 2px solid white;
	padding: 1em;
	background-color: #9933FF;
}

#header #selected {
		padding-bottom: 2px;
		font-weight: bold;
		color: black;
		color: black;
		background: #fc0;
}
.Largeheader {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 42px;
    text-align: center;
}

select {
    display: block;
    padding: 6px 4px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing:content-box;
    box-sizing: none;
    height: 85px;
}

.heading {
  text-align: center;
}

 
.sidebar {
  float: left;
  padding: 0% 2% 0% 0%;
  width: 12%;
}

div#main{
  float: right;
  width: 95%;
  margin: 2em 0.5em 2em 0;
}


#deckSize {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000000;
	background-color: #FFFFFF;
	font-size: 36px;
}

section {
  margin: 1em 0.5em 1em 0.5em;
}

.footer {
  padding-top: 2%;
  text-align: center;
  clear: both;
}

.with {
	display:inline-block;
	vertical-align: top;
	border: 0;
	padding: 0 2em 0 2em;
	background-color: #FFFFCC;
}

.cardlist {
	display:inline-block;
	vertical-align: top;
	border: 0;
	padding: 0 2em 0 2em;
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000000;
	background-color: #FFFFFF;
	font-size: 80%;
}

input.btn 
{
	  color:#050; 
      font: bold 88% 'trebuchet ms',helvetica,sans-serif; 
	  background-color:#fed; 
	  border:1px solid; 
	  border-color: #696 #363 #363 #696; 
}
    
  

.hand {
  background-color: #FFFFFF
  
}

.OnTheDraw{
  background-color: #99FFFF}

.IsMulligan{
  background-color: #FF0000;
  color: white}


.preview:hover {
    transform: translate(10em,0em) scale(4.50);
    transition: all 0.3s;
    position: relative;
    padding: 0px;
    vertical-align: middle;
    /*overflow: hidden;*/
 }

.preview {
    width: 90px;
}

.effectscale:hover {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    vertical-align: middle;
  margin: 0 auto;
  overflow: hidden;
  transform: scale(1.2);
  transition: all 0.3s;
  transform: scale
}

.flexlibrary {
      /* flexbox setup */
      display: -webkit-flex;
      -webkit-flex-direction: row;
      display: flex;
      flex-direction: row;
}

.flexhand {
      /* flexbox setup */
      display: -webkit-flex;
      -webkit-flex-direction: row;
      display: flex;
      flex-direction: row;
}

.flex {
      /* basic styling */
      width: 350px;
      height: 200px;
      //border: 1px solid #555;
      font: 14px Arial;

      /* flexbox setup */
      display: -webkit-flex;
      -webkit-flex-direction: row;

      display: flex;
      flex-direction: row;
}

.flex > div {
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 5px;
      width: 110px; /* To make the transition work nicely.  (Transitions to/from
                      "width:auto" are buggy in Gecko and Webkit, at least.
                      See http://bugzil.la/731886 for more info.) */

      -webkit-transition: width 0.7s ease-out;
      transition: width 0.7s ease-out;
}

.flex > div:hover {
        width: 200px;
 }
   