<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<script type="module" src="./scripts/decks.mjs"></script>
<script type="module">
    import { initializeApp } from './scripts/decks.mjs';
    initializeApp();
</script>
<title>Deck Evaluation</title>
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="manifest" href="/assets/site.webmanifest">
<link rel="stylesheet" type="text/css" href="/assets/decks.css">
</head>
<body>
<div id="header">
    <%- include('partials/nav'); -%>
</div>
<div id="container">
<div id="sidebar">
  <a href="https://magic.wizards.com/en/game-info/gameplay/rules-and-formats/banned-restricted">Banned List</a>
  <div>
    <section id="deck" class="decklist">
      <fieldset>
          <div>
            <label for="preDefinedDecks">Pre-Defined Decks</label>
            <div class="deckListContainer">
              <%- include('partials/decklist'); -%>
            </div>
          </div>
          <div>
            <label for="localDecks">Local Decks</label>
            <button id="loadXMLFileButton">Load XML File</button>
            <input type="file" name="XMLFile" accept=".xml" id="xmlFile" style="display: none;">
          </div>
        </fieldset>
  </section>
  </div>
  <div>
    <h2 class="style1" id="DeckListName">Deck Name</h2>
    <p>
      Deck Size: <span class="deckSize" id="deckSize"></span><br>
      Mana Value: <span class="TotConvertedCost" id="TotConvertedCost"></span>
    </p>   
    <h2>Design Goal</h2>
    <p id="DesignGoal"></p>
  <div class="sidebar-box">
    <h3 class="style1">Card Types</h3>
    <table border="0" class="sidebar-box" id="tblSingleDeck">
     <tr><td><img src="/assets/mtgsymbols/land.svg" alt="Land" class="cost-image">Land</td><td class="total-type" id="TotLands"></td></tr>
     <tr><td><img src="/assets/mtgsymbols/creature.svg" alt="Creature" class="cost-image">Creature</td><td class="total-type" id="TotCreatures"></td></tr>
     <tr><td><img src="/assets/mtgsymbols/instant.svg" alt="Instant" class="cost-image">Instant</td><td class="total-type" id="TotInstants"></td></tr>
     <tr><td><img src="/assets/mtgsymbols/sorcery.svg" alt="Sorery" class="cost-image">Sorcery</td><td class="total-type" id="TotSorceries"></td></tr>
     <tr><td><img src="/assets/mtgsymbols/enchantment.svg" alt="Enchantment" class="cost-image">Enchantment</td><td class="total-type" id="TotEnchantments"></td></tr>
     <tr><td><img src="/assets/mtgsymbols/artifact.svg" alt="Artifact" class="cost-image">Artifact</td><td class="total-type" id="TotArtifacts"></td></tr>
     <tr><td><img src="/assets/mtgsymbols/planeswalk2.svg" alt="Planeswalker" class="cost-image">Planeswalker</td><td class="total-type" id="TotPlaneswalkers"></td></tr>
    </table>
  </div>
  <p></p>
  <div class="sidebar-box">
    <h3 class="style1">Cost<br>Distribution</h3>
    <table id="tblCostDist">
      <tr><th>Mana<br>Value</th><th>Total<br>Cards</th></tr>
      <tr><td><img src="/assets/mtgsymbols/0.svg" alt="Zero" class="cost-image"></td><td class="CostDistribution" id="ZeroCost"></td></tr>
      <tr><td><img src="/assets/mtgsymbols/1.svg" alt="One" class="cost-image"></td><td class="CostDistribution" id="OneCost"></td></tr>
      <tr><td><img src="/assets/mtgsymbols/2.svg" alt="Two" class="cost-image"></td><td class="CostDistribution" id="TwoCost"></td></tr>
      <tr><td><img src="/assets/mtgsymbols/3.svg" alt="Three" class="cost-image"></td><td class="CostDistribution" id="ThreeCost"></td></tr>
      <tr><td><img src="/assets/mtgsymbols/4.svg" alt="Four" class="cost-image"></td><td class="CostDistribution" id="FourCost"></td></tr>
      <tr><td><img src="/assets/mtgsymbols/5.svg" alt="Five" class="cost-image"></td><td class="CostDistribution" id="FiveCost"></td></tr>
      <tr><td><img src="/assets/mtgsymbols/6.svg" alt="Six" class="cost-image"></td><td class="CostDistribution" id="SixCost"></td></tr>
      <tr><td><img src="/assets/mtgsymbols/7.svg" alt="Seven" class="cost-image"></td><td class="CostDistribution" id="SevenmoreCost"></td></tr>
    </table>
    </div>
    <div class="sidebar-box">
      <h3 class="style1">Color<br>Distribution</h3>
      <table id="tblColorDist">
        <tr><th colspan="1"></th><th colspan="1">Total<br>Symbols</th><th colspan="1">Total<br>Cards</th></tr>
        <tr><td><img src="/assets/mtgsymbols/U.svg" alt="Blue" class="cost-image"></td><td class="CostDistribution" id="BlueCost"></td><td class="CostDistribution" id="BlueCards"></td></tr>
        <tr><td><img src="/assets/mtgsymbols/R.svg" alt="Red" class="cost-image"></td><td class="CostDistribution" id="RedCost"></td><td class="CostDistribution" id="RedCards"></td></tr>
        <tr><td><img src="/assets/mtgsymbols/B.svg" alt="Black" class="cost-image"></td><td class="CostDistribution" id="BlackCost"></td><td class="CostDistribution" id="BlackCards"></td></tr>
        <tr><td><img src="/assets/mtgsymbols/W.svg" alt="White" class="cost-image"></td><td class="CostDistribution" id="WhiteCost"></td><td class="CostDistribution" id="WhiteCards"></td></tr>
        <tr><td><img src="/assets/mtgsymbols/G.svg" alt="Green" class="cost-image"></td><td class="CostDistribution" id="GreenCost"></td><td class="CostDistribution" id="GreenCards"></td></tr>
        <tr><td><img src="/assets/mtgsymbols/C.svg" alt="Colorless" class="cost-image"></td><td class="CostDistribution" id="ColorlessCost"></td><td class="CostDistribution" id="ColorlessCards"></td></tr>
      </table>
      </div>
    </div>
</div>  
<div id="main">
<div class="highlighted-box">
	<table class="highlighted-box" id="tblCreatureList">
		<thead>
      <tr>
        <th colspan="4">
            <figure>
                <img src="/assets/mtgsymbols/creature.svg" alt="Creature" class="header-image">
                <figcaption>Creature</figcaption>
            </figure>
        </th>
    </tr>   
		</tbody>
	</table>
	<table class="highlighted-box" id="tblSpellsList">
		<thead>
      <tr>
        <th colspan="4">
          <div class="header-container">
            <div class="header-images">
                <img src="/assets/mtgsymbols/instant.svg" alt="Instant" class="header-image">
                <img src="/assets/mtgsymbols/sorcery.svg" alt="Sorcery" class="header-image">
            </div>
            <div class="header-text">
                <p>Instant & Sorcery</p>
            </div>
        </div>
        </th>
      </tr>
		</thead>
		</tbody>
	</table>
  <table class="highlighted-box" id="tblLandList">
		<thead>
      <tr>
        <th colspan="4">
            <figure>
                <img src="/assets/mtgsymbols/land.svg" alt="Land" class="header-image">
                <figcaption>Land</figcaption>
            </figure>
        </th>
    </tr>
	</thead>
		</tbody>
	</table>
  <table class="highlighted-box" id="tblArtifactsList">
		<thead>
      <tr>
        <th colspan="4">
            <figure>
                <img src="/assets/mtgsymbols/artifact.svg" alt="Artifact" class="header-image">
                <figcaption>Artifact</figcaption>
            </figure>
        </th>
    </tr>
		</thead>
		</tbody>
	</table>
  <table class="highlighted-box" id="tblEnchantmentsList">
		<thead>
      <tr>
        <th colspan="4">
            <figure>
                <img src="/assets/mtgsymbols/enchantment.svg" alt="Enchantment" class="header-image">
                <figcaption>Enchantment</figcaption>
            </figure>
        </th>
    </tr>
		</thead>
		</tbody>
	</table>
  <table class="highlighted-box" id="tblPlaneswalkersList">
		<thead>
      <tr>
        <th colspan="4">
            <figure>
                <img src="/assets/mtgsymbols/planeswalk2.svg" alt="Planeswalker" class="header-image">
                <figcaption>Planeswalker</figcaption>
            </figure>
        </th>
    </tr>
		</thead>
		</tbody>
	</table>
</div>
</div>
</div>
</body>
</html>
